@import "~bootstrap/scss/bootstrap";


// Backgrounds
.bg-blue-50 {
    background-color: $blue-100;
}

// Divider
.divider {
    background-color: $gray-300;
    margin: 15px 0 30px 0;
    height: 1px;
    width: 100%;
}

// Form
label.required::after {
    color: $red-500;
    content: " *";
}