<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}To-Do Co{% endblock %}</title>
        {{ encore_entry_link_tags("assets") }}
    </head>
    <body>
        <nav class="nav" role="navigation">
            <a class="nav-link" href="{{ path('home') }}">To-do list app</a>
            <img src="{{ asset('build/images/logo.webp') }}">
        </nav>
        {% block container %}{% endblock %}

        {{ encore_entry_script_tags("assets") }}
    </body>
</html>
