<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{% block title %}To-Do Co{% endblock %}</title>
        {{ encore_entry_link_tags("assets") }}
    </head>
    <body>
        <header>
            <nav class="bg-blue-50 navbar" role="navigation">
                <div class="container px-0">
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img alt="Logo" class="align-text-center d-inline-block" loading="lazy" src="{{ asset('build/images/logo.webp') }}">
                        <span>To-do list app</span>
                    </a>
                </div>    
            </nav>
        </header>

        <div class="container">
            {% block main %}{% endblock %}
            <div class="divider"></div>
        </div>

        <footer>
            <div class="container">
                <div class="justify-content-end row">
                    <div class="col-auto">
                        <span>Copyright &copy; OpenClassrooms
                    </div>
                </div>
            </div>
        </footer>


        {{ encore_entry_script_tags("assets") }}
    </body>
</html>
